.perfil-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.perfil-search-container h1 {
  font-weight: bold;
  margin: 20px 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background-color: #E6F7FF;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 50px;
  width: 160px;
  margin-bottom: 35px;
  color: #fff;
}

@media (min-width: 576px) {
    .search-input {
        width: 480px;
    }
}
