.result-container {
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.result-title {
  color: #515151;
  font-size: 16px;
  font-weight: bold;
}

.result-description {
  color: #515151;
  font-size: 14px;
  margin: 0;
}

.perfil-info-container {
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
}

.perfil-image-container {
  display: flex;
  flex-direction: row;
  width: 247px;
  height: 247px;
  padding: 20px 0px;
}